<%%= simple_form_for(@<%= singular_name %>) do |f| %>
  <%%= f.error_notification %>

  <%%= hidden_field_tag :sort_column, params[:sort_column] %>
  <%%= hidden_field_tag :sort_direction, params[:sort_direction] %>
  <div class="inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <div class="actions">
    <%%= f.button :submit %>
  </div>
<%% end %>
